@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Upload Contacts</h2>
    
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" id="csvFile" name="file" accept=".csv" />
        <button type="submit">Upload</button>
    </form>
    
    <div id="uploadMessage"></div>

    <hr />

    <h2>Contacts List</h2>
    <div id="contactsTableContainer">
        @await Component.InvokeAsync("ContactList")
    </div>
</div>